@import '../../styles/variables';

// .ReactModalPortal {
//   //
// }

.ReactModal__Overlay {
  overflow-x: hidden;
  overflow-y: auto;
  /* stylelint-disable declaration-no-important */
  background: rgba(0, 0, 0, 0.8) !important;
  /* stylelint-enable declaration-no-important */
  transition: background-color 0.5s ease;

  // &--after-open {
  //   //
  // }
}

// .ReactModal__Content {
//   &--after-open {
//     //
//   }
// }

.exploreMoreModal,
.practiceStart,
.practiceSummary {
  max-width: 640px;
  background: $white;

  &__header {
    margin-inline-start: $spacer;
    margin-inline-end: $spacer;
    text-align: center;
    // background-image: linear-gradient(90deg, #663399, #bc027f, #f67300);
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
  }

  &__content {
    margin-inline-start: $spacer;
    margin-inline-end: $spacer;
    white-space: pre-wrap;
  }

  &__footer {
    display: flex;
  }

  &__footerButtons {
    display: flex;
    width: 100%;
    padding: $spacer;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.practiceStart {
  &__info {
    direction: ltr; // right hand should be on right, left on the left side regardless of language
    display: flex;

    &--left {
      flex-direction: row-reverse;
    }
  }

  &__charInfo,
  &__fingerInfo {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__char {
    display: block;
    font-size: 80px;
    // stylelint-disable property-disallowed-list
    line-height: 80px;
  }

  &__hand {
    display: block;
    max-width: 100px;
    max-height: 100px;
    fill: $gray-3;

    .finger {
      fill: $gray-3;
    }
  }
}
