@import '../../../styles/variables';
@import '../../../styles/typography';

.body {
  display: flex;
  min-width: 1024px;
  min-height: 100vh;
  color: $text-color-primary;
  flex-direction: column;
  background: $white;
  @extend %font-family;

  &.isModalOpen {
    overflow: hidden;
  }
}

// nested divs
// stylelint-disable selector-max-id
#___gatsby,
#gatsby-focus-wrapper,
.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1 1 auto;
}

.layout {
  transition: 0.2s filter ease-in-out;

  &__alert {
    position: sticky;
    top: 0;
    z-index: $z-index-sticky;
    padding: 4px 16px;
    font-weight: 600;
    color: $text-color-inverse-primary;
    text-align: center;
    background: $red-5;
  }

  // &.isModalOpen {
  //   filter: blur(6px);
  // }
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.content {
  padding-inline-end: $spacer * 3;
  padding-inline-start: $spacer * 3;
}
