@import '../../styles/variables';
@import '../../styles/typography';

.Button {
  position: relative;
  display: inline-block;
  padding: 6px 16px;
  // overflow: hidden; cause issues with focus and active state box-shadows!
  font-size: $font-size-default;
  font-weight: 400;
  line-height: 20px; /* stylelint-disable-line property-disallowed-list */
  color: $color-primary;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background: $white;
  border: 0;
  border-radius: $border-radius-small;
  outline: none;
  transition: color $animation-duration-base $transition-timing-function;
  appearance: none;
  @extend %font-family;

  &:hover,
  &.hover {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    z-index: 2;
    text-decoration: none;
    outline: none;
  }

  &:active,
  &.active {
    z-index: 1;
    text-decoration: none;
    outline: none;
  }

  // Colors

  &--primary {
    color: $white;
    background: $color-primary;
  }
  // Sizes

  &--small {
    height: auto;
    padding: 2px $spacer;
  }

  &--large {
    height: auto;
    padding: 10px $spacer * 2;
    font-size: $font-size-big;
    font-weight: 700;
  }

  // square - turns a button into a square
  &--square {
    display: inline-flex;
    width: 32px;
    height: 32px;
    padding: 0;
    align-items: center;
    justify-content: center;

    &.rs-Button--mini {
      width: 16px;
      height: 16px;
    }

    &.rs-Button--tiny {
      width: 20px;
      height: 20px;
    }

    &.rs-Button--small {
      width: 24px;
      height: 24px;
    }
  }

  // block - A button can take the width of its container.
  &--block {
    display: block;
    width: 100%;
  }

  // "disabled" should be the last definition to be able to overwrite any other type
  // stylelint-disable no-descending-specificity
  &:disabled,
  &[disabled] {
    @extend %disabled;
  }
}

%disabled {
  &,
  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
  }
}
