@import '../../styles/variables';

.statuses {
  &__item {
    display: flex;
    margin-block-end: $spacer * 2;
    border: 1px solid $gray-3;
    border-radius: 4px;
  }

  &__key {
    padding: $spacer * 2;
    background: $gray-3;
    flex: 0 0 auto;
  }

  &__keysvg {
    width: 80px;
    max-width: 80px;
    margin: -5px;

    .key--pressed,
    .key__shadow {
      transform: translate(0, 6%);
    }
  }

  &__text {
    padding: $spacer * 2;
  }
}
