%typography-size-hero {
  font-size: $font-size-hero;
}
%typography-size-huge {
  font-size: $font-size-huge;
}

%typography-size-large {
  font-size: $font-size-large;
}

%typography-size-big {
  font-size: $font-size-big;
  // line-height: $line-height-large;
}

%typography-size-default {
  font-size: $font-size-default;
  // line-height: $line-height-big;
}

%typography-size-small {
  font-size: $font-size-small;
  // line-height: $line-height-default;
}

%font-family {
  font-family: $font-family;

  /* stylelint-disable-next-line selector-no-qualifying-type */
  html[lang='fa'] & {
    font-family: $font-family-fa;
  }
}

%typography {
  @extend %typography-size-default;
  @extend %font-family;

  font-size: $font-size-default;
  font-weight: 400;
  line-height: 1.5715; /* stylelint-disable-line property-disallowed-list */
  color: $text-color-primary;
  // important for MAC
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%typography-italic {
  font-style: italic;
}

%typography-thin {
  font-weight: 100;
}
%typography-light {
  font-weight: 300;
}
%typography-regular {
  font-weight: 400;
}
%typography-medium {
  font-weight: 500;
}
%typography-bold {
  font-weight: 700;
}
%typography-black {
  font-weight: 900;
}

.body {
  @extend %typography;
}

.interactive {
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover,
  &.hover {
    // class ".hover" is for testing purposes only
    color: $color-primary-hover;
    // text-decoration: underline;
  }

  &--inverse {
    color: $text-color-inverse-secondary;

    &:hover,
    &.hover {
      // class ".hover" is for testing purposes only
      color: $text-color-inverse-primary;
    }
  }
}

// from ant-design
a {
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  transition: color 0.3s;
  text-decoration-skip: objects;
}

// And undo these styles for placeholder links/named anchors (without href)
// which have not been made explicitly keyboard-focusable (without tabindex).
// It would be more straightforward to just use a[href] in previous block, but that
// causes specificity issues in many other styles that are too complex to fix.
// See https://github.com/twbs/bootstrap/issues/19402

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

.text {
  &--italic {
    @extend %typography-italic;
  }

  &--thin {
    @extend %typography-thin;
  } // not in use / not defined yet
  &--light {
    @extend %typography-light;
  }

  &--regular {
    @extend %typography-regular;
  }

  &--medium {
    @extend %typography-medium;
  }

  &--bold {
    @extend %typography-bold;
  }

  &--primary {
    color: $text-color-primary;

    .inverse & {
      color: $text-color-inverse-primary;
    }
  }

  &--secondary {
    color: $text-color-secondary;

    .inverse & {
      color: $text-color-inverse-secondary;
    }
  }

  &--disabled {
    color: $text-color-disabled;

    .inverse & {
      color: $text-color-inverse-disabled;
    }
  }

  &--hint {
    color: $text-color-hint;

    .inverse & {
      color: $text-color-inverse-hint;
    }
  }

  &--danger {
    color: $red-5;
  }

  &--small {
    // font-size: $font-size-small;
  }

  &--big {
    // font-size: $font-size-big;
  }
}

h1,
.h1 {
  @extend %typography-size-hero;
  margin: $spacer * 3 0 $spacer * 2;
  font-weight: 500;

  &:first-child {
    margin-top: 0;
  }
}

h2,
.h2 {
  @extend %typography-size-huge;
  margin: $spacer * 3 0 $spacer * 2;
  font-weight: 400;

  &:first-child {
    margin-top: 0;
  }
}

h3,
.h3 {
  @extend %typography-size-large;
  margin: $spacer * 3 0 $spacer * 1.5;
  font-weight: 500;

  &:first-child {
    margin-top: 0;
  }
}

h4,
.h4 {
  @extend %typography-size-big;
  margin: $spacer * 3 0 $spacer * 1.5;
  font-weight: 400;

  &:first-child {
    margin-top: 0;
  }
}

h5,
.h5 {
  @extend %typography-size-default;
  margin: $spacer * 3 0 $spacer * 1.5;
  font-weight: 500;

  &:first-child {
    margin-top: 0;
  }
}

h6,
.h6 {
  @extend %typography-size-small;
  margin: $spacer * 3 0 $spacer * 1.5;
  font-weight: 400;

  &:first-child {
    margin-top: 0;
  }
}

p,
ul,
ol,
pre,
.pre {
  margin: 0 0 $spacer * 1.5;
}

i,
em,
.italic {
  @extend %typography-italic;
}

b,
strong,
.bold {
  @extend %typography-bold;
}

.code,
.pre {
  padding: 0.1em 0.4em;
  font-family: monospace;
  font-size: $font-size-small;
  word-wrap: break-word;
  white-space: pre-wrap;
  background: $gray-5;
  border-radius: $border-radius;
}

.pre {
  display: block;
  padding: $spacer;
  color: $text-color-secondary;
  word-wrap: break-word;
  // box-shadow: $box-shadow-input;
}

hr,
.hr {
  border-color: $text-color-disabled;
  border-bottom-width: 0;
}

ol,
ul {
  padding: 0 0 0 $spacer * 3;
}
