// stylelint-disable color-no-hex
// Colors
// ==================================================
// see: https://ant.design/docs/spec/colors

// Graytones
$transparent: transparent;
$white: #fff;
$black: #1e1e1e;

$gray-1: #fff;
$gray-2: #fafafa;
$gray-3: #f5f5f5;
$gray-4: #f0f0f0;
$gray-5: #d9d9d9;
$gray-6: #bfbfbf;
$gray-7: #8c8c8c;
$gray-8: #595959;
$gray-9: #434343;
$gray-10: #25282f;
$gray-11: #1c1c1f;
$gray-12: #141414;
$gray-13: #1e1e1e;

$blue-1: #e6f7ff;
$blue-2: #bae7ff;
$blue-3: #91d5ff;
$blue-4: #69c0ff;
$blue-5: #40a9ff;
$blue-6: #1890ff;
$blue-7: #096dd9;
$blue-8: #0050b3;
$blue-9: #003a8c;
$blue-10: #002766;

$purple-1: #f9f0ff;
$purple-2: #efdbff;
$purple-3: #d3adf7;
$purple-4: #b37feb;
$purple-5: #9254de;
$purple-6: #722ed1;
$purple-7: #531dab;
$purple-8: #391085;
$purple-9: #22075e;
$purple-10: #120338;

$cyan-1: #e6fffb;
$cyan-2: #b5f5ec;
$cyan-3: #87e8de;
$cyan-4: #5cdbd3;
$cyan-5: #36cfc9;
$cyan-6: #13c2c2;
$cyan-7: #08979c;
$cyan-8: #006d75;
$cyan-9: #00474f;
$cyan-10: #002329;

$green-1: #f6ffed;
$green-2: #d9f7be;
$green-3: #b7eb8f;
$green-4: #95de64;
$green-5: #73d13d;
$green-6: #52c41a;
$green-7: #389e0d;
$green-8: #237804;
$green-9: #135200;
$green-10: #092b00;

$magenta-1: #fff0f6;
$magenta-2: #ffd6e7;
$magenta-3: #ffadd2;
$magenta-4: #ff85c0;
$magenta-5: #f759ab;
$magenta-6: #eb2f96;
$magenta-7: #c41d7f;
$magenta-8: #9e1068;
$magenta-9: #780650;
$magenta-10: #520339;

$red-1: #fff1f0;
$red-2: #ffccc7;
$red-3: #ffa39e;
$red-4: #ff7875;
$red-5: #ff4d4f;
$red-6: #f5222d;
$red-7: #cf1322;
$red-8: #a8071a;
$red-9: #820014;
$red-10: #5c0011;

$volcano-1: #fff2e8;
$volcano-2: #ffd8bf;
$volcano-3: #ffbb96;
$volcano-4: #ff9c6e;
$volcano-5: #ff7a45;
$volcano-6: #fa541c;
$volcano-7: #d4380d;
$volcano-8: #ad2102;
$volcano-9: #871400;
$volcano-10: #610b00;

$orange-1: #fff7e6;
$orange-2: #ffe7ba;
$orange-3: #ffd591;
$orange-4: #ffc069;
$orange-5: #ffa940;
$orange-6: #fa8c16;
$orange-7: #d46b08;
$orange-8: #ad4e00;
$orange-9: #873800;
$orange-10: #612500;

$gold-1: #fffbe6;
$gold-2: #fff1b8;
$gold-3: #ffe58f;
$gold-4: #ffd666;
$gold-5: #ffc53d;
$gold-6: #faad14;
$gold-7: #d48806;
$gold-8: #ad6800;
$gold-9: #874d00;
$gold-10: #613400;

$yellow-1: #feffe6;
$yellow-2: #ffffb8;
$yellow-3: #fffb8f;
$yellow-4: #fff566;
$yellow-5: #ffec3d;
$yellow-6: #fadb14;
$yellow-7: #d4b106;
$yellow-8: #ad8b00;
$yellow-9: #876800;
$yellow-10: #614700;

$lime-1: #fcffe6;
$lime-2: #f4ffb8;
$lime-3: #eaff8f;
$lime-4: #d3f261;
$lime-5: #bae637;
$lime-6: #a0d911;
$lime-7: #7cb305;
$lime-8: #5b8c00;
$lime-9: #3f6600;
$lime-10: #254000;

$geekblue-1: #f0f5ff;
$geekblue-2: #d6e4ff;
$geekblue-3: #adc6ff;
$geekblue-4: #85a5ff;
$geekblue-5: #597ef7;
$geekblue-6: #2f54eb;
$geekblue-7: #1d39c4;
$geekblue-8: #10239e;
$geekblue-9: #061178;
$geekblue-10: #030852;

$color-error: $red-4;
$color-mistake: $orange-4;
$color-correct: $green-4;
$color-pressFirst: $blue-4;
$color-pressSecond: $blue-2;
$color-toLearn: $lime-2;
$color-learned: $lime-1;
$color-dead: $purple-3;
$color-pressed: $cyan-5;
$color-locked: $cyan-3;
$color-toWrite: $black;

$color-key-background: $white;
$color-key-bump: $white;
$color-key-label: $black;
$color-key-label-inverted: $white;

$color-primary: $blue-6; //  #1890ff
$color-primary-hover: $blue-4;

$color-primary-20: rgba(47, 84, 235, 0.2);

// TEXT
// ==================================================

$text-color-primary: rgba(0, 0, 0, 0.87);
$text-color-secondary: rgba(0, 0, 0, 0.54);
$text-color-disabled: rgba(0, 0, 0, 0.38);
$text-color-hint: rgba(0, 0, 0, 0.38);

$text-color-inverse-primary: rgba(255, 255, 255, 0.87);
$text-color-inverse-secondary: rgba(255, 255, 255, 0.54);
$text-color-inverse-disabled: rgba(255, 255, 255, 0.38);
$text-color-inverse-hint: rgba(255, 255, 255, 0.38);

$font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-family-fa: 'Cairo', sans-serif;
$font-family-alternative: 'Roboto Slab', sans-serif;

$line-height-small: 13px;
$line-height-default: 16px;
$line-height-big: 20px;
$line-height-large: 24px;

$font-size-default: 14px;
$font-size-small: 12px;
$font-size-big: 16px;
$font-size-large: 24px;
$font-size-huge: 32px;
$font-size-hero: 38px;

// spacing
$spacer: 8px;

$animation-duration-base: 0.2s;
$transition-timing-function: ease-out;

$border-radius-small: $spacer / 4;
$border-radius: $spacer / 2;
$border-radius-big: $spacer;

$z-index-zero: 0;
$z-index-up: 1;
$z-index-down: -1;
$z-index-loader: 100;
$z-index-dropdown: 1000;
$z-index-fixed: 1030;
$z-index-sticky: 1040;
$z-index-modal-backdrop: 1050;
$z-index-modal: 1060;
$z-index-popover: 1070;
$z-index-tooltip: 1080;

// KEYBOARD
// ==================================================

$keyboard-key-width: 100;
$keyboard-key-height: 100;
$keyboard-keyboard-width: 15 * $keyboard-key-width;
$keyboard-keyboard-height: 5 * $keyboard-key-height;

$keyboard-key-padding-x: 10;
$keyboard-key-padding-y: 10;
$keyboard-key-bg-width: $keyboard-key-width - $keyboard-key-padding-x * 2;
$keyboard-key-bg-height: $keyboard-key-height - $keyboard-key-padding-y * 2;

$keyboard-d-row-shift: 50;
$keyboard-c-row-shift: 80;
$keyboard-b-row-shift: 130;
$keyboard-a-row-shift: 130;
$keyboard-r-x: 10;
$keyboard-r-y: 10;
$keyboard-key-label-x: 50;
$keyboard-key-label-y: 50;

/*
:root {
  // Colors
  // ==================================================
  --color-grey-50: #fafafa;
  --color-grey-100: #f5f5f5;
  --color-grey-200: #eeeeee;
  --color-grey-300: #e0e0e0;
  --color-grey-400: #afafb2;
  --color-grey-500: #5b5c63;
  --color-grey-600: #47474d;
  --color-grey-700: #32333d;
  --color-grey-800: #25282f;
  --color-grey-900: #1c1c1f;
  --color-grey-A100: #d5d5d5;
  --color-grey-A200: #aaaaaa;
  --color-grey-A400: #303030;
  --color-grey-A700: #616161;

  // Red
  --color-red-50: #ffd7d0;
  --color-red-100: #ffb3a6;
  --color-red-200: #ff857c;
  --color-red-300: #ff6859;
  --color-red-400: #ff3522;
  --color-red-500: #ff0600;
  --color-red-600: #df0000;
  --color-red-700: #b50000;
  --color-red-800: #8c0000;
  --color-red-900: #620002;

  // Green
  --color-green-50: #b6fff2;
  --color-green-100: #88fee1;
  --color-green-200: #5df7d2;
  --color-green-300: #37efba;
  --color-green-400: #00e5a8;
  --color-green-500: #1eb980;
  --color-green-600: #009c68;
  --color-green-700: #007d51;
  --color-green-800: #005f35;
  --color-green-900: #00391e;

  // Teal
  --color-teal-50: #deeeee;
  --color-teal-100: #b7e1e1;
  --color-teal-200: #8bd8d9;
  --color-teal-300: #56d1ca;
  --color-teal-400: #15d1c6;
  --color-teal-500: #00aea4;
  --color-teal-600: #00837b;
  --color-teal-700: #045d56;
  --color-teal-800: #004940;
  --color-teal-900: #00312a;

  // Orange
  --color-orange-50: #fff8e5;
  --color-orange-100: #ffebb0;
  --color-orange-200: #ffdc78;
  --color-orange-300: #ffcf44;
  --color-orange-400: #ffbc2b;
  --color-orange-500: #ffac12;
  --color-orange-600: #ff8500;
  --color-orange-700: #ff7000;
  --color-orange-800: #f75500;
  --color-orange-900: #e83400;

  // Purple
  --color-purple-50: #decaf7;
  --color-purple-100: #cb9af8;
  --color-purple-200: #b15dff;
  --color-purple-300: #a932ff;
  --color-purple-400: #a500ff;
  --color-purple-500: #a000f1;
  --color-purple-600: #9200c8;
  --color-purple-700: #7f009f;
  --color-purple-800: #63007c;
  --color-purple-900: #460052;

  // Blue
  --color-blue-50: #eafdff;
  --color-blue-100: #b2f2ff;
  --color-blue-200: #72deff;
  --color-blue-300: #5cceff;
  --color-blue-400: #42c6ff;
  --color-blue-500: #24b4ff;
  --color-blue-600: #009bff;
  --color-blue-700: #0082fb;
  --color-blue-800: #0077e5;
  --color-blue-900: #005ccc;
}
*/
