@import '../../styles/variables';

// .hand {

// }

.finger {
  stroke-width: 1;
  transition: fill $animation-duration-base $transition-timing-function,
    stroke $animation-duration-base $transition-timing-function;

  &--correct {
    stroke: $color-correct;
  }

  &--missed {
    stroke: $color-mistake;
  }

  &--error {
    stroke: $color-error;
  }

  &--toPressFirst {
    fill: $color-pressFirst !important;
  }

  &--toPressSecond {
    fill: $color-pressSecond !important;
  }
}
