@import '../styles/variables';

$introImagePush: 100px;

.home {
  a {
    // color: $color-primary;
  }

  &__intro,
  &__inNumbers {
    color: $white;
    background-color: $gray-10;
  }

  &__features {
    background-image: linear-gradient($white, rgba(255, 255, 255, 0.9), $white),
      url('../images/keyboard4.jpg');
    background-position: center;
    background-size: cover;
  }

  &__testimonials {
    position: relative;
    background-image: linear-gradient(
        $color-primary,
        rgba(255, 255, 255, 0),
        $color-primary
      ),
      url('../images/keyboard4.jpg');
    background-position: center;
    background-size: cover;

    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      background: $color-primary;
      opacity: 0.9;
    }
  }

  &__startToday {
    min-height: 44vw;
    background-image: url('../images/typing-girl.jpg');
    background-position: center;
    background-size: cover;
  }
}

.startNowButton {
  margin-top: $spacer * 2;
}

.intro {
  &__logo {
    margin: $spacer * 3 auto;
    color: $color-primary;
    text-align: center;
  }

  &__title {
    margin: 1em 0;
    font-size: $font-size-hero;
    color: $white;
    text-align: center;
  }

  &__desc {
    font-size: $font-size-big;
    text-align: center;
  }

  &__advantages {
    position: relative;
    top: $introImagePush;
    display: flex;
    flex-direction: row-reverse;
  }

  .advantages {
    width: 50%;
    font-size: $font-size-big;
    text-align: start;
    padding-inline-start: $spacer * 3;

    ul {
      padding: $spacer 0 0;
      margin: 0;
    }

    li {
      display: flex;
      padding-bottom: $spacer;
      list-style: none;
      align-items: flex-start;
    }

    i {
      font-size: 20px;
      padding-inline-end: $spacer;
      color: $color-primary;
    }
  }

  &__image {
    width: 100%;
    min-width: 0;
  }
}

.features {
  position: relative;
  padding: 60px 0;
  margin-top: $introImagePush;

  &__title {
    margin: 2em 0 !important;
    font-size: $font-size-large;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    max-width: 320px;

    // stylelint-disable no-descending-specificity
    i {
      font-size: 30px;
      margin-inline-end: $spacer;
    }
    // stylelint-enable no-descending-specificity
  }

  // &__itemWrapper {
  //   h3 {
  //     //
  //   }

  //   div {
  //     //
  //   }
  // }
}

.testimonials {
  position: relative;

  &__title {
    margin: 2em 0 !important;
    font-size: $font-size-large;
    color: $white;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
  }

  &__item {
    position: relative;
    display: flex;
    max-width: 320px;
    padding: $spacer;
    padding-top: 70px;
    flex-direction: column;
    background: $white;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.1),
      0 1px 4px 0 rgba(0, 0, 0, 0.1);
  }

  &__picture {
    position: absolute;
    top: -50px;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    box-sizing: content-box;
    overflow: hidden;
    background: $white;
    background-image: url('../images/testimonials.jpg');
    border: 4px solid $white;
    border-radius: 100%;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.1),
      0 1px 4px 0 rgba(0, 0, 0, 0.1);
    align-self: center;

    &--2 {
      background-position: 0 -100px;
    }

    &--3 {
      background-position: 0 -200px;
    }
  }

  &__user {
    margin-bottom: 1em;
    font-size: $font-size-big;
    text-align: center;
  }

  &__desc {
    position: relative;
    padding-inline-start: 50px;
    font-style: italic;

    &::before {
      position: absolute;
      top: -26px;
      left: -1px;
      display: block;
      font-size: 100px;
      color: $black;
      content: '\201C';
      opacity: 0.15;
    }
  }

  &__feedback {
    display: flex;
    margin-top: auto;
    justify-content: flex-end;
    padding-inline-start: 50px;

    // stylelint-disable no-descending-specificity
    i {
      margin-inline-end: $spacer / 4;
    }
    // stylelint-enable no-descending-specificity
  }
}

.inNumbers {
  display: flex;

  &__item {
    display: flex;
    max-width: 320px;
    padding: $spacer;
    flex-direction: column;
    align-items: center;
    flex: 1 1 320px;
  }

  &__number {
    font-family: 'Montserrat', sans-serif;
    font-size: $font-size-hero;
    font-weight: 700;
  }
}

.startToday {
  padding: 64px 512px 40px 0;

  &__title {
    margin: 2em 0 !important;
    font-size: $font-size-large;
  }

  &__desc {
    margin-bottom: 4em;
  }
}
