@import '../../../styles/variables';

.header {
  color: $white;
  background-color: $gray-10;

  &__container {
    display: flex;
  }

  &__menu {
    margin-inline-start: $spacer * 2;
  }

  &__userMenu {
    align-items: center;
    margin-inline-start: auto;
    display: flex;
  }
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;

  &__item {
    display: flex;
    padding: $spacer;
    color: $white;
    align-items: center;

    &--active {
      background: $gray-10;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.userMenu {
  display: flex;
  align-items: center;
  flex: 1;
  cursor: pointer;

  &__photo {
    width: 28px;
    height: 28px;
    font-size: 8px; // for the `alt` property
    border-radius: 100%;
    margin-inline-end: $spacer * 1.5;
  }

  &__displayName {
    opacity: 0.5;
  }

  &__logout {
    color: $color-primary;
    background: $white;
  }
}

.TEMPORARY-DEPRECATED-WARNING {
  color: $black;
  text-align: center;
  background-color: $yellow-5;
}
