@import '../../styles/variables';

.cookieConsent {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-fixed;
  display: flex;
  padding: $spacer * 2;
  background: $white;
  border-top: 1px solid $gray-3;
  box-shadow: rgba(0, 0, 0, 0.5) 0 8px 10px 5px;
  flex-wrap: wrap;
  justify-content: space-between;

  &__desc {
    display: flex;
    align-items: center;
  }
}
